td.ap-isAvailable, table.ui-datepicker-calendar tbody td.specialDay a { 
    background: none !important;
    background-color:#96b534 !important; 
    color:white;
    text-align: center;
}

td.ap-isUnavailable, table.ui-datepicker-calendar tbody td.specialDay a { 
    background: none !important;
    background-color:#FF0000 !important; 
    color:#404040;
    text-align:center;
}

td.ap-isBookable, table.ui-datepicker-calendar tbody td.specialDay a { 
    background: none !important;
    background-color:#96b534 !important; 
    color:white;
    text-align: center;
}

.ll-skin-cangas td .ui-state-active,
.ll-skin-cangas td .ui-state-hover {
	border: 1px solid rgba(121,188,27,.68);
	background: #a3d143;
	color: #fff;
	text-shadow: 0 -1px 0 #30332a;
}

#calendar-infos, #ap-wait, #ap-no-price{
    width: 269px;
    height: 199px;
    margin:0px;
    padding: 0px;
}

#calendar-infos > p, #ap-no-price > p{
    text-align: center;
    font-size: 1.25em;
}

#calendar-infos > form{
    text-align:center;
}

#calendar-infos > form > input[type=submit]{
    display: block;
    font-size: 2em;
    width:100%;
    color:white;
    border:0px;
    background-color: #96b534;
}

#holidays-price{
    font-weight: bold;
    font-size: 2em;
}

#holidays-price-sr{
    text-decoration: line-through;
    font-size: 2em;
}

#calendar-widget, #calendar-infos, #ap-wait{
    margin:0px;
    padding: 10px;
    float:left;
}

#calendar{
    width:580px;
    margin:0px;
    padding: 0px;
}

#ap-wait{
    text-align: center;
}

